<ul class="nav nav-pills flex-column nav-stacked" id="menu">
    {eq name="$Think.session.is_admin" value="1"}
    <li class="nav-link h3">系统管理</li>
    <li><a class="nav-link active" id="v-pills-home-tab"
            href="#v-pills-home"><span class="oi oi-cog"></span> 网站管理</a></li>
    {/eq}
    <li class="nav-link h3">用户管理</li>
    <li><a class="nav-link" id="v-pills-home-tab"
            href="{:url('user/userList')}"><span class="oi oi-person"></span>
            用户列表</a></li>
    <li class="nav-link h3">文章管理 </li>
    {eq name="$Think.session.is_admin" value="1"}
    <li><a class="nav-link" id="v-pills-home-tab"
            href="{:url('cate/cateList')}" role="tab"
            aria-controls="v-pills-home"
            aria-selected="true"><span class="oi oi-list"></span> 分类管理</a></li>
    {/eq}
    <li><a class="nav-link" id="v-pills-home-tab"
            href="{:url('article/artlist')}" role="tab"
            aria-controls="v-pills-home"
            aria-selected="true"><span class="oi oi-book"></span> 文章管理</a></li>
</ul>
<script>

</script>
