{extend name="public:base" /}
{block name="body"}
<div class="row">
    <div class="col-md-8">
        <div class="border-bottom pt-3 mb-3">
            <h2>{$art.id|getCateName}</h2>
        </div>
        <div class="artcon">
            <div>
                <h4>{$art.title}</h4>
                <p>
                    发布者：{$art.user_id|getUserName} &nbsp;&nbsp;&nbsp;&nbsp;
                    发布时间：{$art.create_time} &nbsp;&nbsp;&nbsp;&nbsp;
                    阅读量：{$art.pv} &nbsp;&nbsp;&nbsp;&nbsp;
                </p>
                <p>{$art.content|raw}</p>
                <hr>
                <button class="btn btn-default" type="button" id="fav"
                    user_id="{$art.user_id}" article_id="{$art.id}"
                    session_id="{$Think.session.user_id}">收藏</button>
                <button class="btn btn-warning" type="button" id="ok"
                    user_id="{$art.user_id}" article_id="{$art.id}"
                    session_id="{$Think.session.user_id}">点赞</button>
            </div>
            {//添加表单评论功能}
            <form class="" id="comment">
                <input type="hidden" name="art_id" value="{$art.id}">
                <input type="hidden" name="user_id" value="{$art.user_id}">
                <div class="form-group">
                    <h4>发表评论</h4>
                    <textarea class="form-control" name="content" id="pubcom"
                        cols="30" rows="5"></textarea>
                    <button type="button" class="btn btn-info" id="submit">提交</button>
                </div>
            </form>
            <p id="res"></p>
            <div id="showComment">{volist name="commentList" id="comment"
                empty="没有评论"}
                <div>
                    <p>{$comment.user_id|getUserName}&nbsp;&nbsp;&nbsp;{$comment.create_time}</p>
                    <div style="min-height:30px; color:red;">{$comment.content}</div>
                    <hr>
                </div>
                {/volist}</div>
            {//Ajax提交}
            <script>
                $('#submit').on('click',function(){
                    var text = $('#pubcom').val();
                    var counter = text.length;
                    if(text=='' || counter<=5){
                        $('#res').html("<span class='text-danger'>请输入五字以上文字！</span>");
                        return;
                    }
                    $.get("{:url('insertComment')}",$('#comment').serialize(),function(data){
                        if(data.status == -1){
                            $('#res').html("<span class='text-danger'>"+data.message+"</span>");
                        }else if(data.status == 1){
                            $('#res').html("<span class='text-success'>"+data.message+"</span>");
                        }else{
                            $('#res').html("<span class='text-warning'>"+data.message+"</span>");
                        }
                    });
                    
                });
            </script>
            <script>
                $(function () {
                    // 收藏功能
                    $('#fav').on('click', function () {
                        // 获取当前用户的id和文章id
                        var userId = $(this).attr('user_id');
                        var artId = $(this).attr('article_id');
                        var sessionId = $(this).attr('session_id');
                        if (userId && artId) {
                            $.ajax({
                                type: 'get',
                                url: "{:url('index/fav')}",
                                data: {
                                    user_id: userId,
                                    article_id: artId,
                                    session_id: sessionId,
                                    time: new Date().getTime()
                                },
                                dataType: 'json',
                                success: function (data) {
                                    switch (data.status) {
                                        case 1:
                                            $('#fav').attr('class','btn btn-success');
                                            $('#fav').text(data.message);
                                            break;
                                        case 0:
                                            $('#fav').attr('class','btn btn-default');
                                            $('#fav').text(data.message);
                                            break;
                                        case -1:
                                            alert(data.message);
                                            break;
                                        case -2:
                                            alert(data.message);
                                            window.location.href="{:url('index/user/login')}";
                                    }
                                }
                            })
                        }
                    });

                    // 点赞功能
                    $('#ok').on('click',function(){
                        // 获取当前用户的id和文章id
                        var userId = $(this).attr('user_id');
                        var artId = $(this).attr('article_id');
                        var sessionId = $(this).attr('session_id');
                        if (userId && artId) {
                            $.ajax({
                                type: 'get',
                                url: "{:url('index/ok')}",
                                data: {
                                    user_id: userId,
                                    article_id: artId,
                                    session_id: sessionId,
                                    time: new Date().getTime()
                                },
                                dataType: 'json',
                                success: function (data) {
                                    switch (data.status) {
                                        case 1:
                                            $('#ok').attr('class','btn btn-success');
                                            $('#ok').text(data.message);
                                            break;
                                        case 0:
                                            $('#ok').attr('class','btn btn-default');
                                            $('#ok').text(data.message);
                                            break;
                                        case -1:
                                            alert(data.message);
                                            break;
                                        case -2:
                                            alert(data.message);
                                            window.location.href="{:url('index/user/login')}";
                                    }
                                }
                            })
                        }
                    });
                });
            </script>
        </div>
        <div style="clear:both;"></div>
        {/block}