{extend name="public:base" /}
{block name="body"}
<div class="row">
    <div class="col-md-8">
        <div class="border-bottom pt-3 mb-3">
            <h2>{$cateName}</h2>
        </div>
        {volist name="artList" id="art" empty="$empty"}
        <div>
            <img src="/uploads/{$art.title_img}" class="img-rounded" style="margin-right:15px;float:left;width:100px;height:85px;">
            <div style="float:left;width:80%;">
                <h5><a href="{:url('detail',['id'=>$art.id])}">{$art.title}</a></h5>
                <p>
                    发布者：{$art.user_id|getUserName} &nbsp;&nbsp;&nbsp;&nbsp;
                    发布时间：{$art.create_time}
                    阅读量：{$art.pv}
                </p>
                <p>{$art.content|getArtContent}</p>
                <hr>
            </div>
        </div>
        {/volist}
        <div style="clear:both;"></div>
        <div class="text-center">{$artList|raw}</div>
        {/block}